body {
    font-family: 'Lato', sans-serif !important;
    font-size: medium;
    --teal: #1C9391;
    --mintgreen: #A8FB87;
    --slate-grey: #1E282E;
    --dark-grey: #161A1D;
    --black: #0B090A;
    --page-load-time: 300ms;
    --page-load-delay: 800ms;
}

.nav-logo {
    height: 80px;
    margin-left: -15%;
    margin-top: -6%;
}

.nav-logo:hover {
    transform: scale(1.1);
}

.navbar {
    padding: 2%;
    background-color: var(--dark-grey);
}

.navbar-toggler-icon {
    background-image: url("public/images/other/Hamburger_icon_white.svg") !important;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.nav-link {
    color: var(--mintgreen) !important;
}

.nav-link:hover {
    color: white !important;
    transform: scale(1.1);
}

.btn-dark {
    background-color: var(--teal) !important;
    color: var(--mintgreen);
}

.btn-dark:hover {
    transform: scale(1.1);
}

.resumeWord {
    color: white;
}

.resumeWord:hover {
    color: black;
}

.hero-section {
    position: relative;
    height: 100vh;
}

.hero-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    background-color: var(--black);
}

.hero-logo {
    height: 40%;
    margin: 0;
    max-width: 100%;
}

.hero-logo:hover {
    transform: scale(1.1);
}

.hero-title {
    color: var(--mintgreen);
    font-size: 60px;
    font-weight: 500;
}

.hero-contents h2 span {
    position: relative;
}

.hero-contents h2 span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    max-width: 100%;
    background: var(--black);
    border-left: 2px solid var(--mintgreen);
    animation: hero-typing 2s steps(17) infinite;
}

@keyframes hero-typing {
    100% {
        left: 100%;
        right: 0%;
        margin: 0 -35px 0 35px;
    }
    0% {
        right: 0%;
        margin: 0 -35px 0 35px;
    }
}

#hero-arrow {
    margin: auto;
    color: var(--teal);
    animation: hero-arrow-animation 2s infinite;
}

@keyframes hero-arrow-animation {
    0% {
        opacity: 0;
        transform: translate(0px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.about-img {
    border-radius: .25rem !important;
}

.about-me,
.exp {
    display: flex;
    flex-direction: column;
}

h3 {
    color: var(--mintgreen);
}

.about-me {
    background-color: var(--dark-grey);
}

.about-para {
    padding: 4%;
    margin-right: 1em;
    color: white;
    animation: page-load-animation 300ms ease-in calc(var(--page-load-time) + 200ms);
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}

@keyframes page-load-animation {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.socialsIcons {
    display: flex;
    justify-content: flex-end;
}

#aboutMeSocials {
    padding: 2%;
    color: var(--teal);
}

#aboutMeSocials:hover {
    transform: scale(1.1);
}

.section-underline {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 80px;
    background: var(--teal);
}

#projects-header {
    margin-top: 1em;
}

.project-card {
    height: auto;
    width: 92%%;
    display: inline-flex;
    margin-left: 2.5em;
    background-color: var(--black);
    border-radius: .30rem;
    margin-top: 4%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.project-img img {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    max-width: 100%;
    object-fit: cover;
    display: block;
    padding: 30px;
}

.project-img:hover {
    transform: scale(1.13);
}

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 25px;
    border-radius: .25rem;
    color: white;
}

.project-description {
    padding: 20px;
    border-radius: .25rem;
}

.project-tech-used {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: .25rem;
}

.tech-used-title {
    color: var(--teal);
    margin-left: 20px;
}

.tech-used {
    margin-left: 4px;
}

.project-links {
    display: inline-flex;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: .25rem;
}

#project-link-icons:hover {
    transform: scale(1.1);
}

.project-links a {
    color: var(--mintgreen) !important;
}
.skillsTitle {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.colored {
    display: flex;
    justify-content: center;
}

#skills-header {
    margin-top: 2%;
}

.skillsIcons1 {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.skillsIcons2 {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 1%;
}

.connect-btns {
    display: flex;
    justify-content: space-evenly;
}

.fa-github, 
.fa-code {
    color: white;
}

.appTitle {
    color: var(--mintgreen);
    font-size: 20px;
    font-weight: bolder;
}

.appTitle:hover {
    color: white;
    transform: scale(1.1) !important;
}

.page-footer {
    background-color: var(--black) !important;
}

#connect {
    color: var(--mintgreen);
}

#connect:hover {
    color: white;
}

#connect-icons:hover {
    color: var(--teal);
    transform: scale(1.2);
}

.connect-btns:hover {
    color: var(--teal) !important;
}

.footer-copyright {
    background-color: var(--teal) !important;
}

#copyright:hover {
   color: var(--black);
}

@media only screen and (min-width: 768px) {
    .hero-section {
        max-height: 600px;
        height: 100vh;
    }
    .hero-contents {
        height: 100vh;
    }
    .about-img {
        max-width: 650px;
        max-height: 600px;
        margin-top: 60% !important;
    }

}
@media only screen and (max-width: 767px) {
    .about-img {
        max-width: 330px;
        max-height: 330px;
    }
    .section-underline {
        margin-bottom: 2px;
    }
    .project-card {
        display: flex;
        flex-direction: column;
        width: 92%;
        height: 100%;
        margin: auto;
        padding: 2%;
        margin-top: 6%;
    }
    .project-img img {
        position: unset !important;
        transform: unset !important;
    }
    .appTitle, 
    .project-content,
    .project-description {
        padding: 3% !important;
    }
    .project-tech-used {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: unset !important;
        padding: 0%;
    }
    .project-description {
        padding: 4%;
    }
    .tech-used-title {
        width: 100px;
        margin-left: 3%;
    }
    .tech-used {
        width: 100px;
    }
    .project-links {
        flex-direction: column;
    }
    #opposite-side-card {
        display: flex;
        flex-direction: column-reverse;
    }
    .stackUsed {
        display: flex;
        justify-content: flex-end !important;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .skillsIcons1 {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 13%;
        padding-bottom: 0;
        padding-top: 0;
        margin-top: 30px;
    }
    .skillsIcons2 {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 13%;
        padding-bottom: 0;
        padding-top: 0;
        justify-content: space-around;
    }
    .jQueryDiv {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .navbar {
        height: 100px;
    }
    #navbarNav {
        display: flex !important;
        justify-content: flex-end !important;
    }
    .about-img {
        max-width: 520px;
        max-height: 500px;
        margin: auto;
        margin-top: 40%;
    }
    .about-para {
        padding-left: 2%;
        margin-right: 1em;
    }
    .project-card {
        width: 92%;
    }
}

@media only screen and (min-width: 1025px) {
    .about-img {
        margin-top: 30%;
    }
}

@media only screen and (max-width: 991px) {
    #about {
        display: grid !important;
        justify-content: flex-end !important;
    }
    .about-img {
        display: flex;
        justify-content: center;
        margin: auto;
        padding-top: 2rem !important;
    }
}

@media only screen and (min-width: 414px) and (max-width : 767px) and (orientation: portrait) {
    .hero-contents {
        height: 100vh;
    }
    .hero-title {
        font-size: 35px;
    }
    #hero-arrow {
        margin-top: 40%;
    }
    .about-img {
        max-width: 400px;
        max-height: 400px;
        padding: 2% !important;
    }
    .skillsIcons1 {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 17%;
        padding-bottom: 0;
        padding-top: 0;
    }
    .skillsIcons2 {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 17%;
        padding-bottom: 0;
        padding-top: 0;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 376px) {
    .hero-contents {
        height: 100vh;
    }
    .hero-title {
        font-size: 35px;
    }
    .hero-logo {
        max-width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 374) {
    .hero-contents h2 span::after {
        max-width: fill-available;
    }
    .about-img {
        width: 280px;
    }
}