.social-btns {
    display: flex;
    justify-content: space-evenly;
}

body {
    font-family: 'Lato', sans-serif !important;
    font-size: large;
}

/* ff9100 */

.mainPic {
    max-width: 400px;
    padding: 10px;
    border-radius: 4%;
}

.abtMe, 
.exp {
    display: flex;
}

.skillsIcons1 {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;

}

.skillsIcons2 {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 1%;
}

.navbar {
    padding: 4%;
}

@media only screen and (min-width: 992px) #navbarNav {
    display: flex !important;
    justify-content: flex-end;
}

.repoLink {
    display: flex;
    justify-content: flex-end;
}

.projects {
    margin: 3%;
}

.abtMePara {
    padding: 2%
}

.socialsIcons {
    display: flex;
    justify-content: flex-end;
}

.stackUsed {
    display: flex;
    justify-content: space-between;
}

#aboutMeSocials {
    padding: 2%;
}

.colored {
    display: flex;
    justify-content: center;
}

.skillsTitle {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.navbar-brand {
    font-family: 'Rock Salt', cursive !important;
}

.fa-github-square, 
.appTitle {
    color: white;
}

/* .fa-github-square:hover {
    color: 
} */
